<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1e3c0f094b.js" crossorigin="anonymous"></script>
</head>

<body class="container">
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Soldiers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/squads">Squads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/weapons">Weapons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vehicles">Vehicles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/keys">Keys</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/buildings">Buildings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/key_holders">Key Holders</a>
          </li>
      </ul>
    
    <h1>Welcome to the Manning Report!</h1>
    
    <h5>Please see the following Manning report for each squad</h5>
    
    

      <div>
        <h1>List of Weapons</h1>


        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Weapon Model</th>
                <th scope="col">Weapon Status</th>
                <th scope="col">Squad ID</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>M16A4</td>
                <td>Signed over to brigade detachement</td>
                <td></td>
                <td><i class="fa-solid fa-delete-left"></i></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>M16A4</td>
                <td>Arms room</td>
                <td></td>
                <td><i class="fa-solid fa-delete-left"></i></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>M16A4</td>
                <td></td>
                <td></td>
                <td><i class="fa-solid fa-delete-left"></i></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>M16A4</td>
                <td></td>
                <td></td>
                <td><i class="fa-solid fa-delete-left"></i></td>
              </tr>
            </tbody>
          </table>

          <h5>Add a new Weapon</h5>

          <form>
            <div class="mb-3">
              <label for="weaponmodel" class="form-label">Weapon Model</label>
              <input type="text" class="form-control" id="weaponmodel">
            </div>
            <div class="mb-3">
              <label for="weaponstatus" class="form-label">Weapon Status</label>
              <input type="text" class="form-control" id="weaponstatus">
            </div>
            <div class="mb-3">
                <label for="squadID" class="form-label">Squad ID</label>
                <select class="form-select" aria-label="Default select example" id="squadID">
                    <option selected>Open this select menu</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">4</option>
                    <option value="3">7</option>
                  </select>
              </div>
    
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

          <h5>Edit a Weapon</h5>

          <form>
            <div class="mb-3">
                <label for="weaponID" class="form-label">Weapon ID</label>
                <select class="form-select" aria-label="Default select example" id="weapondID">
                    <option selected>Open this select menu</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                  </select>
              </div>
            
              <div class="mb-3">
                <label for="weaponmodel" class="form-label">Weapon Model</label>
                <input type="text" class="form-control" id="weaponmodel">
              </div>
              <div class="mb-3">
                <label for="weaponstatus" class="form-label">Weapon Status</label>
                <input type="text" class="form-control" id="weaponstatus">
              </div>
              <div class="mb-3">
                  <label for="squadID" class="form-label">Squad ID</label>
                  <select class="form-select" aria-label="Default select example" id="squadID">
                      <option selected>Open this select menu</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">4</option>
                      <option value="3">7</option>
                    </select>
                </div>
    
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    
</body>